body {
    background-color: #23282d;
    font-family: "Montserrat", sans-serif;
    margin: 0 30px;
    padding: 0;
    height: 100vh;
    color: #fff;
}

#budgetContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.landing {
    width: 20%;
}
h2 {
    margin: 5px;
}
.inputName {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
.inputName input {
    border: none;
    border-bottom: 1px solid #C82514;
    width: 80%;
    background-color: #23282d;
}
.inputName input:focus-visible {
    outline: 0;
    color: #fff;
}
.inputName button {
    width: fit-content;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #C82514;
    color: #fff;
    border: #C82514;
    border-radius: 5px;
}
.inputName button:hover {
    background-color: #70180e;
}

.frontImg {
    width: 60%;
    border-radius: 10px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.choiceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choiceContainer div {
    width: fit-content;
    padding: 15px 10px;
    margin: 50px;
    background-color: #C82514;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.choiceContainer img {
    width: 400px;
}

.choiceContainer div:hover {
    background-color: #70180e;
}

.floor_wall_image {
    width: 400px;
}