@keyframes transicionar {
    from {
        margin-top:100%; /* Reglas CSS con las que la animación comienza */
    }
    to {
        margin-top: 0; /* Reglas CSS con las que la animación termina */
    }
}

body {
    background-color: #23282d;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    padding: 0;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

#budgetContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.landing {
    width: 20%;
}
h2 {
    margin: 5px;
}
.inputName {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
.inputName input {
    border: none;
    border-bottom: 1px solid #C82514;
    width: 80%;
    background-color: #23282d;
}
.inputName input:focus-visible {
    outline: 0;
    color: #fff;
}
.inputName button {
    width: fit-content;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #C82514;
    color: #fff;
    border: #C82514;
    border-radius: 5px;
    cursor: pointer;
}
.inputName button:hover {
    background-color: #70180e;
}

.frontImg {
    width: 60%;
    border-radius: 10px;
}

.question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: transicionar 0.4s ease-in-out;
}
.question h2 {
    margin: 10px;
}

.choiceContainer {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.choiceContainer div, #pdfButton, #goBackButton {
    width: fit-content;
    padding: 15px 10px;
    background-color: #C82514;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.choiceContainer img {
    width: 400px;
}

.choiceContainer div:hover, #pdfButton:hover, #goBackButton:hover {
    background-color: #70180e;
}

.floor_wall_image {
    margin: 10px;
    width: 55%;
    border-radius: 2%;
}
.budgetContainer {
    animation: transicionar 0.4s ease-in-out;
}
.materialsContainter img {
    max-width: 350px;
    max-height: 320px;
    border-radius: 14%;
}

.plano_de_la_casa {
    width: 60%;
}

#goForward, #goBack, #goBackButton {
    padding: 14px 21px;
}
#goForward p, #goBack p, #goBackButton p {
    margin: 0;
}
#goBackButton {
    justify-self: flex-end;
    align-self: flex-end;
    margin: 10px;
}
@media (min-width: 320px) and (max-width: 768px) {
    #budgetContainer {
        flex-direction: column;
        align-items: baseline;
    }
    .choiceContainer img {
        width: 300px;
    }
    .floor_wall_image {
        width: 95%;
    }
    .question h2 {
        text-align: center;
    }
    .landing {
        width: 100%;
    }
    .frontImg {
        width: 85%;
        margin: auto;
    }
    .inputName button {
        margin-right: auto;
        margin-left: auto;
    }
    .plano_de_la_casa {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    #pdfButton {
        margin-left: auto;
        margin-right: auto;
    }
    .infoContainer {
        width: 100%;
        margin: 10px;
    }
}

@media (min-width: 320px) and (max-width: 448px) {
    .choiceContainer img {
        width: 280px;
    }
}